.Form {
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    padding: 20px;
}

.Button {
    display: flex;
    justify-content: space-around
}

.CustomerNotFound {
    padding: 30px
}
